body{
    background-color: rgb(245, 245, 245);
    font-family: Arial, Helvetica, sans-serif
}
/* .navbar navbar-expand-lg bg-light{
    position:sticky;
    background-color: white;
    display:box;
    z-index: 2;
    height: 50px
} */
.leftNav{
    position:sticky;
}
.rightNav{
    float:right;
    position:sticky;
}

.pictures{
    position: relative;
    top:0;
    left:0;
}
.backdrop{
    position:relative;
    top:0;
    left:0;
    border-radius: 10px;
}

.headshot{
    position:absolute;
    top:210px;
    left:30px;
    width: 150px;
    height: 150px;
    margin-top: 30px;
    border-left: 0px;
    padding-left: 0px;
    margin-left: 0px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%
}
.nameInfo{
    border-radius: 10px;
    border: 2px solid white;
    background-color: white;
    padding: 20px;
    margin: 20px;
    width: 50%;
    height: 200px;
    text-align: left;
}

#myName{
    margin-top:20px;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 0;
    height: 20px;
}
#myJob{
    font-weight:normal
}
#myLocation{
    font-weight:normal
}
#myConnections{
    font-weight: normal;
    color: blue;
}
.experience{
    border-radius: 10px;
    border: 2px solid white;
    background-color: white;
    padding: 20px;
    margin: 20px;
    width: 50%;
    height: 540px;
    text-align: left;
}

.education{
    border-radius: 10px;
    border: 2px solid white;
    background-color: white;
    padding: 20px;
    margin: 20px;
    width: 50%;
    height: 280px;
    text-align: left;
}

.skills{
    border-radius: 10px;
    border: 2px solid white;
    background-color: white;
    padding: 20px;
    margin: 20px;
    width: 50%;
    height: 340px;
    text-align: left;
}

.sidebar-topright{
    border-radius: 10px;
    border: 2px solid white;
    background-color: white;
    padding: 20px;
    margin: 20px;
    height: 100px;
    width:30%;
    float:right
}

#sidebar-topright{
    font-weight:normal;
    font-size: large;
}

.sidebar-middleright{
    border-radius: 10px;
    border: 2px solid white;
    background-color: white;
    padding: 20px;
    margin: 20px;
    height:200px;
    width:30%;
    float:right;
    
}
#sidebar-middleright-one{
    font-weight:normal;
    text-align: center;
    align-items: center;
    font-size: large;
}
#sidebar-middleright-two{
    font-weight:normal;
    text-align: center;
    align-items: center;
    font-size: large;
}
#small-headshot{
    width:50px;
    height:50px;
    border-radius: 50%;
    margin-left: 110px;
}

#expel-ad{
    width:50px;
    height:50px;
    margin-left: 90px;
}
button{
    margin-left: 170px;
}
